In [8]:
# Add Matplotlib inline magic command
%matplotlib inline

# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
# Import the data into Pandas DataFrame
city_data_to_load = "resources/city_data.csv"
ride_data_to_load = "resources/ride_data.csv"

city_df = pd.read_csv(city_data_to_load)
ride_df = pd.read_csv(ride_data_to_load)

In [30]:
# Get the columns and the rows that are not null
print(city_df.count())
# Get the data types of each column
print(" ")
print(city_df.dtypes)

city            120
driver_count    120
type            120
dtype: int64

city            object
driver_count     int64
type            object
dtype: object

18

In [31]:
# Get the columns and the rows that are not null
print(ride_df.count())
# Get the data types of each column
print(" ")
print(ride_df.dtypes)

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [33]:
# Merge the data frames
city_ride_df = pd.merge(ride_df, city_df, on=["city", "city"], how="left")

# Display the DataFrame
city_ride_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [3]:
# Create a bubble chart for avg fares vs total rides

# Format bubble size based on total drivers for each city type

In [4]:
# Determine mean, median and mode for:
# The total number of ride for each city type
    
# The average fares for each city type
    
# The total number of drivers for each city type

In [5]:
# Create box-and-whisker plots to determine any outliers for:
# The number of rides for each city type

# The fares for each city type

# The number of drivers for each city type

In [6]:
# Create a pie chart for the percent of total fares, rides, and drivers